@import '../../node_modules/vuetify/src/stylus/settings/_colors'
$theme := {
  primary: $light-blue.darken-1
  accent: $light-blue.accent-2
  secondary: $grey.darken-3
  info: $light-blue.base
  warning: $amber.base
  error: $red.base
  success: $green.base
}
@import '../../node_modules/vuetify/src/stylus/main'

header
  > .card
    height: 56px !important
    .layout
      width: 100%
      .logo
        padding-left: 15px
        line-height: @height
      .menu-login
        button
          height: @height
          margin: 0
          border-radius: 0
          text-transform: none
      .menu-languages
        .subheader
          margin-top: 0.4em
          justify-content: flex-end
        .menu
          width: 100%
          text-align center
          img
            margin-top: 0.8em
.btn--floating.btn--small
  padding: 0
.btn-center
  margin-right: auto
  margin-left: auto
  display: block
.menu
  height: 100%
  .menu__activator
    font-size: 18px
.login-form
  margin-top: 100px
  .input-group--select
    margin-top: 5px
#settings
  margin-top: 15px
  .select-form
    margin-bottom: 0
  .form-description
    textarea
      min-height: 100px
#form-content
  padding: 0 15px
  .wrap-content
    padding: 10px !important;
    border: 1px solid #ccc;
    .sort-block
      padding: 15px 20px
      margin-top: 10px
      min-height: 50px
      border: 1px dashed #cccccc;
      background: whitesmoke linear-gradient(#f4f4f4, #f1f1f1);
      div
        span
          display: block
          min-height: 20px
      &:first-child
        margin-top: 0
    .sort-field
      padding: 0 20px
      margin-top: 10px
      min-height: 55px
      position: relative
      .block-buttons
        position: absolute
        width: 100%;
        right: 0;
        top: 50%
        margin-top: -27.5px
      label
        display: block
        margin: 5px 0 0
      input,
      textarea,
      select,
      pre
        border: 1px solid #cccccc
        border-radius: 3px
        width: 100%
        color: #000 !important
      input,
      select
        height: 30px
        padding: 0 5px
        margin: 12.5px 0
        &.label
          margin: 5px 0 10px
        &.error-text
          margin: 15px 0 5px
          &.label
            margin: 5px 0
      input[type="checkbox"],
      input[type="radio"]
        width: 20px
        height: 20px
        float: left
        margin-top: 17.5px
      pre,
      textarea
        height: 45px
        padding: 0 5px
        margin: 10px 0 5px
        resize: none
        &.label
          margin: 5px 0 5px
        &.error-text
          margin: 15px 0 0
          &.label
            margin: 5px 0 0
      pre
        border-left: 4px solid #81C784;
        border-top-left-radius: 0
        border-bottom-left-radius: 0
        margin-bottom: 10px
      select
        -moz-appearance: menulist
        -webkit-appearance: menulist
        height: 35px
        margin: 12.5px 0
        padding: 0 5px
      .error-text
        margin: 0 0 5px;
        color: red;
        &.cross:before
          content: 'x'
          margin-right: 5px
          font-weight: bold
@media only screen and (max-width: 599px)
  .dialog__content
    .dialog--active
      width: 100% !important
  .menu-login
    .icon
      margin-right: 0 !important
  #form-content
    .wrap-content
      padding: 10px !important
      .sort-field
        .block-buttons
          position: static
          margin-top 0 !important
          text-align: center !important